APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:5000
PORT=5000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=ifstatic
DB_USER=IfStaticUser
DB_PASSWORD=IfStaticPassword1@
# DB_SOCKET=/tmp/mysql.sock
ALLOWED_ORIGINS=http://localhost:3000
UPLOAD_MAX_SIZE=5242880
